/*--INDEX PAGE CSS FILE--*/
/*--MAIN LAYOUT--*/
*
{
margin: auto;
box-sizing: border-box;
}
/*---------------*/

/*--HEADER--*/
header
{
vertical-align: middle;
display: flex;
background-color: rgba(255,141,0,0.7);
text-align: center;
font-family: "Spartan", sans-serif;
font-size: 55px;
font-weight: bold;
padding: 8px;
height: 120px;
width: 100%;
}
/*---------------*/

/*--TOP ICON--*/
img.topicon
{
vertical-align: middle;
height: 110px;
width: 110px;
margin-left: 5px;
float: left;
padding: 2px;
position: absolute;
}
/*---------------*/

/*--HEADING TEXT--*/
span.heading
{
vertical-align: middle;
font-weight: bold;
text-decoration: none;
padding: 5px;
}
/*---------------*/

/*--MENU LINKS (HOME-NEWS-HELPLINE-ABOUT)--*/
.divmenu
{
font-family: "Maven Pro", sans-serif;
font-weight: bold;
height: 20%;
width: 100%;
background-color: #dddddd;
position: sticky;
top: 0px;
z-index: 1;
}
/*--STYLING ON 'UL' LIST--*/
.menu
{
list-style-type: none;
margin: 0px;
padding: 0px;
width: auto;
overflow: hidden;
background-color: #333;
}
/*--STYLING ON 'LI' ITEMS--*/
.lmenu
{
float: left;
}
/*--STYLING ON 'LI' ITEMS LINK--*/
.lmenu a
{
float: left;
display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
.lmenu a:hover
{
background-color: #111;
}
.active
{
background-color: red;
}
/*--DROPDOWN FOR 'ABOUT'--*/
li.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  height: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
  z-index: 1;
}
/* Add animation (Chrome, Safari, Opera) */
@-webkit-keyframes example {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}

/* Add animation (Standard syntax) */
@keyframes example {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}

/* The modal's background */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Display the modal when targeted */
.modal:target {
  display: table;
  position: absolute;
}

/* The modal box */
.modal-dialog {
  display: table-cell;
  vertical-align: middle;
}

/* The modal's content */
.modal-dialog .modal-content {
  margin: auto;
  background-color: #f3f3f3;
  position: relative;
  padding: 0;
  outline: 0;
  border: 1px #777 solid;
  text-align: justify;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /* Add animation */
  -webkit-animation-name: example; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
  animation-name: example;
  animation-duration: 0.5s;
}

/* The button used to close the modal */
.closebtn {
  text-decoration: none;
  float: right;
  margin-right: 20px;
  font-size: 35px;
  font-weight: bold;
  color: #111111;
}

.closebtn:hover,
.closebtn:focus {
  color: rgb(200,0,0);
  text-decoration: none;
  cursor: pointer;
}

.container {
  padding: 2px 16px;
  width: auto;
}

abthead {
  background: #1984fe;
  width: 100%;
  font-size: 25px;
  padding: 14px;
  color: black;
}

/*---------------*/

/*--3D BUTTONS--*/
#topbtn
{
display: block; 
position: fixed; 
bottom: 20px; 
right: 10px;
z-index: inherit;
}
.footer
{
position: sticky;
top: 50px;
float: right;
display: relative;
list-style-type: none;
margin: 18px 0px 2px; 
width: 7%;
height: auto;
}
/*--FORMATTING OF 3D BUTTONS--*/
.fa
{
padding: 10px;
font-size: 30px;
width: 50px;
height: 50px;
text-align: center;
text-decoration: none;
margin: 10px;
color: black;
border-radius: 50%;
background: linear-gradient(315deg, #323232, #ffffff);
box-shadow:  -3px -3px 8px #414141,
              2px 2px 5px #1d1d1d;
             transition: 0.1s border-radius ease;
}
.fa:hover
{
border-radius: 50%;
background: linear-gradient(315deg, #ffffff, #323232);
box-shadow: -3px -3px 8px #1d1d1d,
             2px 2px 5px #414141;
             transition: 0.5s border-radius ease;
}
/*---------------*/

/*--CORONA CASE UPDATES--*/
casedet
{
display: flex;
float: left;
margin-left: 4%;
margin-top: 4px;
margin-bottom: 10px;
}
/*--CARD DETAIL--*/
.cardtotal
{
border-radius: 5px 5px 5px 5px;
font-family: "Dosis", sans-serif;
font-weight: 100px;
text-align: center;
width: 160px;
margin-right: 35px;
padding: 10px 0 10px 0;
background: linear-gradient(340deg, #1d84ff, #81bbff);
color: white;
font-size: 55px;
}
.cardconf
{
border-radius: 5px 5px 5px 5px;
font-family: "Dosis", sans-serif;
font-weight: 100px;
text-align: center;
width: 160px;
margin-right: 35px;
padding: 10px 0 10px 0;
background: linear-gradient(340deg, #ff5733, #ff8d74);
color: white;
font-size: 55px;
}
.carddisc
{
border-radius: 5px 5px 5px 5px;
font-family: "Dosis", sans-serif;
font-weight: 100px;
text-align: center;
width: 160px;
margin-right: 35px;
padding: 10px 0 10px 0;
background: linear-gradient(340deg, #1fc312, #56fe48);
color: white;
font-size: 55px;
}
.carddeath
{
border-radius: 5px 5px 5px 5px;
font-family: "Dosis", sans-serif;
font-weight: 100px;
text-align: center;
width: 160px;
margin-right: 35px;
padding: 10px 0 10px 0;
background: linear-gradient(340deg, #606060, #bbbbbb);
color: white;
font-size: 55px;
}
/*---------------*/

/*--BODY CONTENT CARDS--*/
div.card
{
font-family: "Exo", sans-serif;
font-size: 20px;
display: flex;
position: relative;
width: 80%;
height: auto;
margin: 15px;
padding: 10px;
color: rgba(0,0,0,1);
text-align: justify;
border-radius: 27px;
background: #bbbbbb;
box-shadow: inset 3px 3px 1px #8b8484,
            inset 3px 3px 1px #bbbbbb;
}
/*--TEXT CARDS--*/
div.textcard
{
font-family: "Exo", sans-serif;
font-size: 20px;
position: relative;
width: 80%;
height: auto;
margin: 15px;
padding: 10px;
color: rgba(0,0,0,1);
text-align: justify;
border-radius: 27px;
background: #e8e8e8;
box-shadow: -2px -3px 8px #b7b7b7,
	     1px 1px 3px #ffffff;
}
/*---------------*/
